@using EmployeesDiscount.DonutsWebService
@model LoginViewModel
@{
    ViewBag.Title = "RestautantList";
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-8">
       @{
           Restaurant[] dts = (Restaurant[])ViewData["restantantslist"];
           if (dts.Count() < 1 && dts == null)
           {
            <p>
                ● No restaurants. <a href="#"></a><br />
            </p>
           }
           else
           {

               for (int i = 0; i < dt.Rows.Count; i++)
               {
                   //string path = "newsDetail.aspx?type=6&id=" + dt.Rows[i]["news_id"];
                <text>
                    ● @Html.ActionLink(@sysadmin.CommonCode.Common.formatStr(dt.Rows[i]["news_title"], 20, "....."), "Index", "News", new { id = @dt.Rows[i]["news_id"] }, new { target = "_blank" })
                    <br />
                </text>

               }

           }
    }         
    </div>
</div>
