@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ShangHai, Pudong<br />
    Jinke Rolad No.2889 (ChaiTime)<br />
    Block C, 5 Floor<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">GD-Donuts@greendotcorp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">GD-Donuts@greendotcorp.com</a>
</address>