@{
    ViewBag.Title = "Home Page";
}

<div style="padding:10px;background-color:#eeeeee">
    <div class="col-lg-12">
        <div class="carousel slide" id="carousel-650020">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-650020">
                </li>
                <li data-slide-to="1" data-target="#carousel-650020">
                </li>
                <li data-slide-to="2" data-target="#carousel-650020">
                </li>
                <li data-slide-to="3" data-target="#carousel-650020">
                </li>
                <li data-slide-to="4" data-target="#carousel-650020">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="Carousel Bootstrap First" src="~/Image/pic6.jpg" class="col-lg-12" />
                    <div>
                        <label>Hamburger</label>
                        <p>
                            汉堡包一词为英语Hamburger的中文名，同时含有音译及义译的元素在内，有时也直接称为汉堡。汉堡包原名来自于德国的城市汉堡市（Hamburg）。在英语里头，Hamburger就是指“来自汉堡的”，可以是指汉堡包本身，或是面包里面由牛绞肉或其他夹有牛绞肉做成的肉饼。这一种肉饼，现时在汉语普遍称之为汉堡派，而汉堡包则用来专指夹了汉堡排的圆包三明治。Hamburger这个名字起源于德国西北城市汉堡（Hamburg），今日的汉堡是德国最为繁忙的港口，在19世纪中叶的时候，居住在那里的人们喜欢把牛排捣碎成一定形状，这种吃法可能被当时的大量德国移民传到了美洲。1836年，一道以“汉堡牛排”（Hamburg steak）命名的菜出现在美国人的菜单上；从一本1902年的烹饪手册中我们可以看出，当时Hamburg steak的做法与今天的概念已经很接近了，就是用碎牛肉和洋葱与胡椒粉拌在一起。到了20世纪晚期，美国人对Hamburg steak的做法进行了改良，然后开车把它送进了快餐店，这就是今天招人喜爱的hamburger的起源。
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Second" src="~/Image/pic7.jpg" class="col-lg-12" />
                    <div>
                        <label>Donut</label>
                        <p>
                            1940年的一天，有一位格雷船长，他小时候非常喜爱吃他妈妈亲手制作的炸面包，但他发现炸面包的中央部分因油炸时间不足而还没完全熟，于是格雷的母亲便将炸面包的中央部分挖除，再重新油炸一次，发现炸面包的口味竟然更加美味，于是中空的炸面包所以就给它取名为甜甜圈，便就此诞生。由于甜甜圈是以高温热油来制成，因此甜甜圈好吃的秘诀便在于，如何在短时间内让甜甜圈完全炸熟，而由母亲充满机智的处理方式，更可以看出母亲对小朋友的关心与爱心。甜甜圈，是一种富有历史意义的、充满情趣的美食，是一种日常的小吃，更是一种爱与情感的体现。
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Third" src="~/Image/pic8.jpg" class="col-lg-12" />
                    <div>
                        <label>Japanese food</label>
                        <p>
                            日本料理是被世界公认的烹调过程最为一丝不苟的国际美食，这也造就了日本料理精致而健康的饮食理念。
                            自然原味是日本料理的主要精神，其烹调方式细腻精致。以糖、醋、酱油、味噌、柴鱼、昆布等为主要调料，注重味沉、触觉、视觉、嗅觉等以及器皿和用餐环境的搭配的意境。日本料理主要分为三类:本膳料理、怀石料理和会席料理。以传统的文化、习惯为基础的料理体系。在十分正式的日本宴席上将菜放在有脚的托盘上使用。 在茶道会之前给客人准备的精美菜肴。日本料理本身的餐饮文化特点也使日餐的价格在看不见中陡然上升。在美食之都大阪，素有“吃到破产”来形容日本料理的美味。日本料理所选择的材料是以新鲜的海产品和时令新鲜蔬菜为主,具有口感清淡、加工精细、色泽鲜艳、少油腻等特点。吃日本料理,一半是吃环境、氛围、吃情调。日本料理的最大特点是以鱼、虾、贝类等海鲜品为烹、食主料，味鲜带咸，有时稍带甜酸和辣味。清淡、不油腻、精致、营养、着重视觉、味觉与器皿之搭配，是为日本料理的特色。
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Fours" src="~/Image/pic9.jpg" class="col-lg-12" />
                    <div>
                        <label>Saliva Chicken</label>
                        <p>
                            川菜作为中国内链变更汉族传统的四大菜系之一、中国八大菜系之一。新常态下对现代川菜理论体系的重新构建，包括川菜三派的划分，是在已有定论的上河帮，小河帮，下河帮的基础上，规范化完整表述为：川西地区以成都官府菜、乐山嘉州菜为代表的上河帮川菜；川南地区以自贡盐帮菜、内江糖帮菜、泸州河鲜菜、宜宾三江菜共同为特色的小河帮川菜，川东地区以重庆江湖菜为典范的下河帮川菜。三者共同组成川菜三大主流地方风味流派分支菜系，代表川菜发展最高艺术水平。
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Fifth" src="~/Image/SecondCode.jpg"/><br />
                    <div>
                        <label>Mobile version</label>
                        <p>
                            手机扫一扫有惊喜！
                        </p>
                    </div>
                </div>

            </div> <a class="left carousel-control" href="#carousel-650020" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-650020" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
</div>

<div class="row">
    <h2>Step By Step To Enjoy Lunch And Save Money</h2>
    <div class="col-md-4">
        <h2>Step 1</h2>
        <p>
            Resister and Login~
        </p>
        <p><a class="btn btn-default" href="~/Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 2</h2>
        <p>Choose the Restaurant you like and eat!</p>
        <p><a class="btn btn-default" href="~/Restaurants/Restaurants">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Step 3</h2>
        <p>Pay the Bill and Save your money.</p>
        <p><a class="btn btn-default" href="~/Restaurants/Restaurants">Learn more &raquo;</a></p>
    </div>
</div>
