@using EmployeesDiscount.DonutsWebService

@{
    ViewBag.Title = "Restaurant";
}

<h2>@ViewBag.Title</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="panel-3285">

                @{
                    Restaurant[] dts = (Restaurant[])ViewData["restanrantslist"];
                    if (dts.Count() < 1 && dts == null)
                    {
                        <p>
                            ● No restaurants. <a href="#">Create one restaurants</a><br />
                        </p>
                    }
                    else
                    {

                        for (int i = 0; i < dts.Count(); i++)
                        {
                            //string path = "newsDetail.aspx?type=6&id=" + dt.Rows[i]["news_id"];
                            string href_class = "panel-element-" + i;
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-3285" href="#@href_class">@dts[i].Name</a>
                                </div>
                                <div id="@href_class" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Discount: @dts[i].Discount
                                    </div>
                                    <div class="panel-body">
                                        @if(Convert.ToInt32(Session["UserLevel"]) != 1)
                                        {
                                        <a href="/Restaurants/Payment?id=@dts[i].Restaurantkey">Pay Bill Now</a>
                                        }
                                        else
                                        {
                                        <a href="/Restaurants/Settlement?id=@dts[i].Restaurantkey">Settlement</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>