
@{
    ViewBag.Title = "Success";
}
<div style="text-align:center">
    <h2>Success</h2>

   <h3>Success Record your Order.</h3> 
    <a href="~/Restaurants/Restaurants"><input type="button" value="OK" /> </a>
</div>
